<div
  class="button-group"
  role="radiogroup"
  [attr.aria-labelledby]="id"
>
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    role="radio"
    [attr.aria-checked]="value == options.YES"
    type="button"
    class="button button-yes"
    (click)="activate(options.YES)"
    [class.button-pressed]="value === options.YES"
  >
    Yes
  </button>
  <button
    role="radio"
    type="button"
    [attr.aria-checked]="value == options.NO"
    class="button button-no"
    (click)="activate(options.NO)"
    [class.button-pressed]="value === options.NO"
  >
    No
  </button>
</div>
